<h3>Task manager</h3>
<div class="task-wrapper">
	<div id="createTask" class=" container-fluid">
		<form class="navbar-form" name="task">
			<div class="form-group">
				<h5>Create task</h5>
				<input type="text" ng-model="task.name" required class="form-control" placeholder="Task name">
				<select required ng-model="task.type" ng-options="task.type_name for task in task.taskTypes" class="form-control">
					<option value="">--task type--</option>
				</select>
				<select ng-model="task.priority" ng-options="priority.id for priority in task.priorityList" class="form-control">
					<option value="">--priority--</option>
				</select>
				<select ng-model="task.status" class="form-control" ng-options="status.label for status in task.statusList">
					<option value="">--status--</option>
				</select>
				<button type="submit" class="btn btn-primary form-control" ng-click="saveTask()">Save</button>
			</div>
		</form>
	</div>
	<div id="pipeline" class="container-fluid" ng-show="isPipelineVisible">
		<form  class="navbar-form" role="">
			<div class="form-group">
				<h5>Create Pipeline</h5>
				<select required ng-model="pipeline.type" ng-options="type.type_name for type in pipeline.componentTypes" class="form-control">
					<option value="">--component type--</option>
				</select>

				<select required ng-model="pipeline.abstraction" ng-options="type.type_name for type in pipeline.abstractionTypes" class="form-control">
					<option value="">-- Abstraction type--</option>
				</select>

				<select required ng-model="pipeline.mode" ng-options="mode.label for mode in pipeline.modes" class="form-control" class="form-control">
					<option value=""> --abstraction mode--</option>
				</select>
				<input type="text" class="form-control" placeholder="Previous Pipeline Id">
				<button class="btn btn-primary form-control" data-ng-click="showComponents()"> Select components</button>
			</div>
			<!-- component list available -->
			<div class="component-list clearfix" ng-if="isComponentVisible">
				<ul data-ng-repeat="(key, value) in componentList | groupBy: 'type'">
					<h5>Group: {{key}}  <span>{{selectedCompName}}</span></h5>
					<li ng-repeat="item in value" ng-click="selectComp($index, $event)" >
						<span>{{item.id}}</span>
					</li>
				</ul>
				<div ng-if="componentSelected" id="addCompDetail" class="container-fluid">
					<div>
						<label>Previous</label>
						<input type="text"  class="form-control" placeholder=""/>
						<label>Next</label>
						<input type="text"  class="form-control" placeholder=""/>
					</div>
					<div class="action-btns row clearfix">
						<span class="pull-left">
							<button class="btn btn-primary btn-sm" ng-click="deselect($event)"> Deselect</button>
						</span>
						<span class="pull-right">
							<button class="btn btn-primary btn-sm" ng-click="addComponent($event)">add </button>
							<button class="btn btn-sm" ng-click="cancleSelection($event)">cancel</button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="component" class="container-fluid" ng-show="isPipelineVisible">
		<div class="navbar-form">
			<h5>New Task Detail </h5>
			<div class="task-detail-wrapper drag-row" id="componentId">
				
				<ul class="tbl-row">
					<li><span>Component Id </span></li>
					<li class="">22445</li>
					<li class="">44434</li>
					<li class="">55544</li>
					<li class="">55544</li>
					<li class="">44556</li>
				</ul>
				<div class="tbl-wrapper">
					<table class="drag-row">
						<thead>
							<th class="">Component Id</th>
							<th class="">Name</th>
							<th class="">Type</th>
							<th class="">Pipethne Id</th>
							<th class="">test</th>
							<th class="">test2</th>
						</thead>
						<tbody>
							<tr class="tbl-row">
								<td class="">test</td>
								<td class="">test2</td>
								<td class="">test</td>
								<td class="">test2</td>
								<td class="">test</td>
								<td class="">test2</td>
							</tr>
							<tr class="tbl-row">
								<td class="">test</td>
								<td class="">test2</td>
								<td class="">test</td>
								<td class="">test2</td>
								<td class="">test</td>
								<td class="">test2</td>
							</tr>
							<tr class="tbl-row">
								<td class="">test</td>
								<td class="">test2</td>
								<td class="">test</td>
								<td class="">test2</td>
								<td class="">test</td>
								<td class="">test2</td>
							</tr>
							<tr class="tbl-row">
								<td class="">test</td>
								<td class="">test2</td>
								<td class="">test</td>
								<td class="">test2</td>
								<td class="">test</td>
								<td class="">test2</td>
							</tr>
							<tr class="tbl-row">
								<td class="">test</td>
								<td class="">test2</td>
								<td class="">test</td>
								<td class="">test2</td>
								<td class="">test</td>
								<td class="">test2</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- <div ng-dropdown-multiselect="" options="example11data" selected-model="example11model" extra-settings="example11settings" group-by="gender"></div>

<div class="container-fluid">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Create /h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>
</div> -->
<style type="text/css">
	ul{
		padding : 0;
		margin : 0;
		list-style: none;
	}
	.container-fluid{
		background: #cccccc;
	}
	.component-list {
		padding: 1px;
		margin: 2px 0 0;
		list-style: none;
		font-size: 14px;
		background-color: #fff;
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
		background-clip: padding-box;
		background: #FBFBFB;
	}
	.component-list h5{
		background: #000;
		color: #ffffff;
		padding: 10px;
		margin: 0;
		border: 1px solid #B7B7B7;
		font-size: .95em;
	}
	.component-list h5 span{
		font-weight: bold;
		text-decoration: underline;
	}
	.component-list > ul{
		float: left;
		width: 33%;
		margin: 0 1px;
		padding: 0;
		font-weight: bold;
	}
	.component-list.selected > ul,
	.component-list.selected  li {
		display: none;
	}
	.component-list.selected > ul.selected,
	.component-list.selected > ul.selected li.selected{
		width: 100%;
		display: block; 
		margin: 0;
	}
	.component-list.selected > ul.selected h5 {

	}

	.component-list ul li{
		border: 1px solid #cccccc;
		background: #E6E6E6;
		padding: 2px;
		list-style: none;
		margin: 2px 0;
		font-weight: normal;
	}
	.component-list ul li.added{
		background:#2CE06C;
		font-weight: bold;
	}
	.component-list ul li:hover{
		background: #ffffff;
	}
	.component-list .action-btns{
		border-top: 1px solid #ccc;
		margin-top: 10px;
		padding: 10px 20px 0px;
	}
	.task-wrapper > div{
		border-radius: 2px;
		margin-bottom: 20px;
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		box-shadow: 0 2px 3px rgba(0,0,0,.5);
		border: 1px solid #1F1D1D;
		padding-bottom: 10px;
	}
	.form-control{
		margin: 5px;
	}
	.task-detail-wrapper {
		position: relative;
	}

	.task-detail-wrapper > ul{
		position: absolute;
		z-index: 1;
		background: #cccccc;
		width : 120px;
		padding-left: 10px;
	}
	.task-detail-wrapper > ul li,
	.task-detail-wrapper table td{
		padding: 0 5px;
	}
	.task-detail-wrapper > ul li:first-child{
		padding: 0;display: table-cell;
    	padding: 5px 10px !important;
	}
	.task-detail-wrapper table{
		width: 100%
	}
	.task-detail-wrapper tbody tr:nth-child(odd) {
		background-color: #ffffff;
	}
	.task-detail-wrapper ul li:nth-child(even) {
		background-color: #ffffff;
	}
	.drag-row ul li:first-child,
	.task-detail-wrapper th{
		background: #000000;
		color : #ffffff;
		padding: 5px;
		font-weight: normal;
	}
	#addCompDetail {
		background: none;
		padding: 10px;
		clear: both;
	}


</style>